.inputField{
    -fx-background-color: #d5ddff;
    -fx-border-color: #011981;
}
.vBox{
    -fx-background-color: #d5ddff;
    -fx-border-color: #011981;
}
.scrollPane{
    -fx-background-color: #011981;
}
.btnAddImageAndSend{
    -fx-background-color: #5369d4;
    -fx-text-fill: #fcfdfe;
    -fx-border-color: #011981;
}
.title{
    -fx-font-family: TRON;
    -fx-text-fill: #fcfdfe;
}

.anchorPane{
    -fx-background-color: #2c43af;
}